@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

*{
  font-family: helvetica,"Noto Sans JP";
  font-weight: 300;
  font-style: normal;
  text-decoration:none;
}

body{text-align: center;}

p,h1,h2,h3,h4,h5,h6,a{color: #3e3e3e;}

.header{width:70%;  
height:60px;
 background:#fafafa;
text-align:center;
margin:auto;
border-radius:10px;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.35);
        line-height:60px;
}

#headmoji{font-size:20px;
  font-weight: bold;
  color: rgb(62, 62, 62);
}


.search-container {
  background:#fafafa;
  text-align:center;
  margin:auto;
  border-radius:10px;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.35);
  margin: auto;
  width:40%;  
  transition: 0.5s;
}

#search-form {
  display: flex;
  border-radius: 10px;
  overflow: hidden;

}

#search-input {
  flex: 1;
  padding: 15px;
  border: none;
  outline: none;
  text-align:left;
}

.search {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.search:hover {
  background-color: #357ae8;
  transition: 0.2s;
}

.content{
  width:100%;  
height:200px;
 background:#fafafa;
text-align:center;
border-radius:10px;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.35);
        line-height: 10px;        
}

.content-c{
  width:100%;  
  display: flex;
  gap: 0px;
  margin: auto;
  justify-content: center; 
}

#ClockArea{
  line-height: 0px;        
margin-top: 90px;
}

.icons{
  width:100%;  

  display: flex;
  margin: auto;
  gap:10px;
}

.icon{
  width:25%;  
  height:90px;
   background:#fafafa;
  text-align:center;
  border-radius:10px;
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.35);
    gap: 7px;
    margin: auto;
    justify-content: center; 
margin-top: 50px;
color: rgb(62, 62, 62);
transition: 0.3s;

}

.icon:hover{
  transition: 0.3s;
  color: rgb(123, 123, 123);

}

.news{
  height:130px;
   background:#fafafa;
  text-align:center;
  margin:auto;
  border-radius:10px;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.35);
          line-height:60px;

  }

.clock {
  width: 130px;
  height: 130px;
  border: 4px solid #3e3e3e;
  border-radius: 50%;
  position: relative;
  margin:auto;
  margin-top: 20px;
}

.hand {
  width: 40%;
  background: #3e3e3e;
  position: absolute;
  top: 48%;
  left:10%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: transform 2s cubic-bezier(0.1, 2, 0.35, 1);
}

.hour {
  height: 5px;
  background: #3e3e3e;
  border-radius: 20px;
}

.minute {
  height: 4px;
  background: #3e3e3e;
  border-radius: 20px;
}

.second {
  height: 6px;
  background: red;
  border-radius: 20px;
  width: 43%;
left: 7%;
}

.center-circle {
  width: 12px; /* 円の直径 */
  height: 12px; /* 円の直径 */
  background: #3e3e3e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.all{
  max-width: 90%;
  width: 40%;
margin: auto;
transition: 0.5s;
}


@media (max-width: 1045px) {
  .all{width:90%; transition: 0.5s;}
  .search-container{width:90%; transition: 0.5s;}
}

@media (max-width: 540px) {

  h1{ font-size: 20px;   transition: 0.2s;  }
  .forecast > h3 {  font-size: 15px;    transition: 0.2s;  }
}


#news-container{
  line-height:25px;
  overflow: scroll;
  text-decoration:none;
font-size: 20px;
text-align: left!important;
left: 50px!important;
padding-top: 15px;
padding-bottom: 7px;

}

.news  a{
color:#3e3e3e;
transition: 0.2s;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
display: inline-block; /* 必要に応じて追加 */
max-width: 100%;

}

.news  a::before{
  content: '◎ ';
  padding-left: 10px;
  }
  .news  a:hover{
   transition: 0.2s;
   color:#9c9c9c;
    }
    .newstext{margin-top: 3px;}

    h1{transition: 0.2s;  }
    .forecast > h3 {transition: 0.2s;  }

    img{width: 100px;
    height: 100px;}

    .weatherDesc{
      margin-top: -100px;
    }

    #changearea{
      transition: 0.3s;
    }

    #changearea:hover{
      transition: 0.3s;
      color: #888888;
    }

    .forecast{margin-top: 25px;}

    .disabled-click {
      pointer-events: none;
      opacity: 0.5; 
  }