:root{
  --main-black: #3e3e3e;
  --shadow:0px 1px 7px 0px rgba(0, 0, 0, 0.35);
}

*{
  font-family: "IBM Plex Mono","IBM Plex Sans JP";
  font-weight: 200;
  font-style: normal;
  text-decoration:none;
}
body{text-align: center;}
p,h1,h2,h3,h4,h5,h6,a{color: var(--main-black);}
#headmoji{font-size:20px;
  font-weight: bold;
  color:var(--main-black);
}
/*ここからサーチ関係 ↓コンテナ*/
.search-container {
  background:#fafafa;
  text-align:center;
  margin:auto;
  border-radius:10px;
  box-shadow: var(--shadow);
  margin: auto;
  width:40%;  
  transition: 0.5s;
}
#search-form {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
#search-input {
  flex: 1;
  padding: 15px;
  border: none;
  outline: none;
  text-align:left;
}
.search {
  background-color: #5b8ad4;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
}
.search:hover {background-color: #497fd6; transition: 0.2s;}
/*サーチ関係ここまで*/
.content{
  width:100%;  
height:200px;
 background:#fafafa;
text-align:center;
border-radius:10px;
  box-shadow: var(--shadow);
        line-height: 10px;        
}

.content-c{
  width:100%;  
  display: flex;
  gap: 0px;
  margin: auto;
  justify-content: center; 
}

#ClockArea{line-height: 0px; margin-top: 90px;}

.icons{
  width:100%;  
  display: flex;
  margin: auto;
  gap:10px;
  margin-top: -15px;
}

.icon{
  width:25%;  
  height:90px;
   background:#fafafa;
  text-align:center;
  border-radius:10px;
    box-shadow: var(--shadow);
    gap: 7px;
    margin: auto;
    justify-content: center; 
margin-top: 50px;
color: var(--main-black);
transition: 0.3s;
}

.icon:hover{ transition: 0.3s; color: rgb(123, 123, 123);}

.news{
  height:130px;
   background:#fafafa;
  text-align:center;
  margin:auto;
  border-radius:10px;
    box-shadow: var(--shadow);
          line-height:60px;

  }

.clock {
  width: 130px;
  height: 130px;
  border: 3px solid var(--main-black);
  border-radius: 50%;
  position: relative;
  margin:auto;
  margin-top: 20px;
}

.hand {
  width: 40%;
  background: var(--main-black);
  position: absolute;
  top: 48%;
  left:10%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: transform 2s cubic-bezier(0.1, 2, 0.35, 1);
}

.hour {
  height: 5px;
  background: var(--main-black);
  border-radius: 20px;
}

.minute {
  height: 4px;
  background: var(--main-black);
  border-radius: 20px;
}

.second {
  height: 6px;
  background: #5b8ad4;
  border-radius: 20px;
  width: 43%;
left: 7%;
}

.center-circle {
  width: 12px; /* 円の直径 */
  height: 12px; /* 円の直径 */
  background: var(--main-black);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.all{
  max-width: 90%;
  width: 40%;
margin: auto;
transition: 0.5s;
}


@media (max-width: 1045px) {
  .all{width:90%; transition: 0.5s;}
  .search-container{width:90%; transition: 0.5s;}
}

@media (max-width: 540px) {
  h1{ font-size: 20px;   transition: 0.2s;  }
  .forecast > h3 {  font-size: 15px;    transition: 0.2s;  }
}


#news-container{
  line-height:25px;
  overflow: scroll;
  text-decoration:none;
font-size: 20px;
text-align: left!important;
left: 50px!important;
padding-top: 15px;
padding-bottom: 7px;
}

.news  a{
color:var(--main-black);
transition: 0.2s;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
display: inline-block;
max-width: 100%;
}

.news  a::before{ content: '• '; padding-left: 10px; margin-top: 500px;}

  .news  a:hover{transition: 0.2s;color:#9c9c9c;}
    .newstext{margin-top: 3px;}
    h1{transition: 0.2s;  }
    .forecast > h3 {transition: 0.2s;  }
    img{width: 100px; height: 100px;}
    .weatherDesc{ margin-top: -100px;}
    #changearea{transition: 0.3s; }

    #changearea:hover{  transition: 0.3s; color: #888888; }

    .forecast{margin-top: 25px;}
    .disabled-click { pointer-events: none; opacity: 0.5;  }

  .gameimg{
    width: 469px;
    height: 351px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: 0.5s;
    box-sizing: content-box;
    margin-bottom: 45px;
  }

#indexplay{width: 100%; transition: 0.3s;}

.menu{
  font-family: monospace;
  background:#ffffff;
  text-align:center;
  margin:auto;
  border-radius:10px;
  box-shadow: var(--shadow);
  margin: auto;
  transition: 0.5s;
  display: block;
  padding: 11.75px;
}


.button,h2{font-family: "IBM Plex Mono";}

hr{border: 1px solid var(--main-black);border-radius: 10px;}
 .menu > a{font-weight:400;}

.button,.button-stop{
  line-height: 70px;
  margin: auto;
  display: block;
  box-shadow: var(--shadow);
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}

 .button{
  background:#5b8ad4;
  width: 70%;
  height:70px;
  color: #ffffff;
  display:inline-block;
  transition: 0.5s;
}

.button:hover{transition: 0.3s; background: #497fd6; }

 .button-stop{
  background:#d45b5b;
  width: 30%;
  height:70px;
  color: #ffffff;
}

.button-stop:hover{transition: 0.3s; background: #d64949; }
.game-buttons{display: flex; gap: 10px;}

iframe {
  max-width: 600px;
  height: 351px;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  transition: 0.7s;
  margin-bottom: 40px; 
}

@media (max-width: 1300px) {
iframe {
  max-width: 350px;
  height: 262px;
  transition: 0.7s;
}
}
@media (max-width: 1300px) {
.gameimg{
  width: 350px;
  height: 262px;
  transition: 0.5s;
}}